<!-- <h2>@Input Decorator Assignment</h2> -->

<!-- <p>Input Decorator</p>
<br> -->
<!-- {{employee.eName}}
{{employee.eCity}}
{{employee.eSalary}} -->


<!-- {{myinputMsg}} -->

<!-- <div appCustdir>
    <p>Employee ID:{{myinput.empId}}</p>
    <p>Employee First Name:{{myinput.empFirstName}}</p>
    <p>Employee Last Name:{{myinput.empLastName}}</p>
    <p>Employee Department:{{myinput.empDept}}</p>
    <p>Employee Company:{{myinput.empComp}}</p>
</div> -->
<p>Enter food name</p>
<!-- steps 1 user entering foods name -->
<input type="text" (keyup.enter)="addtofood(item.value)" #item>

